In [124]:
city = LocationInfo("Zurich", "Switzerland", "Europe/Zurich", 47.377, 8.542)

print((
    f"Information for {city.name}/{city.region}\n"
    f"Timezone: {city.timezone}\n"
    f"Latitude: {city.latitude:.02f}; Longitude: {city.longitude:.02f}\n"
))

sunrise = []
sunset = []

# setting range for months of march, april
for i in range(3,5):
    if i == 3:
        for j in range(1,32): #month length is different, need to change index range
            s = sun(city.observer, date=datetime.date(2021, i, j), tzinfo=city.timezone)
            sunrise.append(s["sunrise"]) 
            sunset.append(s["sunset"])
    else:
        for j in range(1,31): #month length is different, need to change index range
            s = sun(city.observer, date=datetime.date(2021, i, j), tzinfo=city.timezone)
            sunrise.append(s["sunrise"]) 
            sunset.append(s["sunset"])        
    
sunrise = pd.to_datetime(sunrise)
sunset = pd.to_datetime(sunset)

sun_data = pd.DataFrame({'sunrise':sunrise, 'sunset':sunset}) 
sun_data['day_len'] = sun_data['sunset'] - sun_data['sunrise']
sun_data['date'] = sun_data['sunrise'].dt.date

Information for Zurich/Switzerland
Timezone: Europe/Zurich
Latitude: 47.38; Longitude: 8.54

In [125]:
sun_data

,sunrise,sunset,day_len,date
0,2021-03-01 07:06:15.175339+01:00,2021-03-01 18:10:44.040143+01:00,0 days 11:04:28.864804,2021-03-01
1,2021-03-02 07:04:21.695370+01:00,2021-03-02 18:12:13.490340+01:00,0 days 11:07:51.794970,2021-03-02
2,2021-03-03 07:02:27.530266+01:00,2021-03-03 18:13:42.661708+01:00,0 days 11:11:15.131442,2021-03-03
3,2021-03-04 07:00:32.715605+01:00,2021-03-04 18:15:11.557542+01:00,0 days 11:14:38.841937,2021-03-04
4,2021-03-05 06:58:37.286592+01:00,2021-03-05 18:16:40.181925+01:00,0 days 11:18:02.895333,2021-03-05
...,...,...,...,...
56,2021-04-26 06:17:48.926765+02:00,2021-04-26 20:30:17.019636+02:00,0 days 14:12:28.092871,2021-04-26
57,2021-04-27 06:16:06.980654+02:00,2021-04-27 20:31:40.171225+02:00,0 days 14:15:33.190571,2021-04-27
58,2021-04-28 06:14:26.191887+02:00,2021-04-28 20:33:03.155575+02:00,0 days 14:18:36.963688,2021-04-28
59,2021-04-29 06:12:46.598522+02:00,2021-04-29 20:34:25.951822+02:00,0 days 14:21:39.353300,2021-04-29
60,2021-04-30 06:11:08.238913+02:00,2021-04-30 20:35:48.537625+02:00,0 days 14:24:40.298712,2021-04-30